@tailwind base;
@tailwind components;
@tailwind utilities;

/* Raleway */

@font-face {
  font-family: "raleway";
  src: url("/fonts/raleway/Raleway-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "raleway";
  src: url("/fonts/raleway/Raleway-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "raleway";
  src: url("/fonts/raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "raleway";
  src: url("/fonts/raleway/Raleway-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "raleway";
  src: url("/fonts/raleway/Raleway-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
/* Raleway */
/* Cairo */

@font-face {
  font-family: "cairo";
  src: url("/fonts/cairo/Cairo-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "cairo";
  src: url("/fonts/cairo/Cairo-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "cairo";
  src: url("/fonts/cairo/Cairo-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "cairo";
  src: url("/fonts/cairo/Cairo-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
/* Cairo */

.cairo {
  font-family: "cairo";
}
.raleway {
  font-family: "raleway";
}
.ltr body {
  font-family: "raleway";
}
.ltr body {
  font-family: "cairo";
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}
.rtl {
  direction: rtl;
  font-family: "cairo";
}
.ltr {
  direction: ltr;
  font-family: "raleway";
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@layer components {
  .Container1640 {
    @apply mx-[auto] lg:w-[85.4166666667vw] sm:w-[90%] w-[88%];
  }
  .text20 {
    @apply lg:text-[1.04166666667vw] lg:leading-[1.5625vw];
  }
  .text21 {
    @apply lg:text-[1.09375vw] lg:leading-[1.59208333333vw];
  }
  .text24 {
    @apply lg:text-[1.25vw] lg:leading-[1.51041666667vw];
  }
  .text28 {
    @apply lg:text-[1.45833333333vw] lg:leading-[1.77083333333vw];
  }
  .text40 {
    @apply lg:text-[2.08333333333vw] lg:leading-[3.125vw];
  }
  .text48 {
    @apply lg:text-[2.5vw] lg:leading-[3.125vw]   sm:text-[44px] sm:leading-[54px]
    text-[32px] leading-[44px] f700 capitalize;
  }
  .text64 {
    @apply lg:text-[3.33333333333vw] lg:leading-[4.01041666667vw]  sm:text-[44px] sm:leading-[54px]
    text-[32px] leading-[44px] f700 capitalize;
  }
  .text128 {
    @apply lg:text-[6.66666666667vw] lg:leading-[8.02083333333vw]  sm:text-[44px] sm:leading-[54px]
    text-[35px] leading-[46px] f700 uppercase;
  }
  .mtext12 {
    @apply text-[12px] leading-[20px];
  }
  .mtext14 {
    @apply text-[14px] leading-[21px];
  }
  .mtext16 {
    @apply text-[16px] leading-[24px];
  }
  .mtext18 {
    @apply text-[18px] leading-[27px];
  }
  .mtext20 {
    @apply text-[20px] leading-[30px];
  }
  .mtext22 {
    @apply text-[22px] leading-[33px];
  }
  .mtext28 {
    @apply text-[28px] leading-[42px];
  }
  .activityCard.active {
    @apply lg:w-[42.1875vw];
  }
  .activityCard,
  .activityCard .content h4,
  .activityCard .content p,
  .activityCard .content {
    @apply transition-all duration-[600ms];
  }

  .ltr .activityCard .content {
    @apply lg:min-w-[38.1875vw] lg:transform lg:rotate-[-90deg] lg:translate-y-[-2vw] lg:translate-x-[-12vw];
  }
  .rtl .activityCard .content {
    @apply lg:min-w-[38.1875vw] lg:transform lg:rotate-[90deg] lg:translate-y-[-2vw] lg:translate-x-[12vw];
  }
  .activityCard.active .activityImg {
    @apply object-[unset];
  }
  .activityCard.active .content {
    @apply lg:rotate-[0] lg:translate-x-[0] lg:translate-y-[0];
  }
  .activityCard {
    @apply lg:pb-[1.66666666667vw] pb-[25px];
  }
  .activityCard .content {
    @apply flex flex-col  justify-end items-start   lg:h-full;
  }
  .activityCard.active .content p {
    @apply lg:opacity-[1];
  }
  .activityCard .content p {
    @apply lg:opacity-0;
  }
  .ltr .lrf1 {
    @apply left-0;
  }
  .rtl .lrf1 {
    @apply right-0;
  }
  .ltr .lrf2 {
    @apply right-0;
  }
  .rtl .lrf2 {
    @apply left-0;
  }
  .ltr .ml_Auto {
    @apply ml-[auto];
  }
  .rtl .ml_Auto {
    @apply mr-[auto];
  }
  .ltr .mr_Auto {
    @apply mr-[auto];
  }
  .rtl .mr_Auto {
    @apply ml-[auto];
  }
  .rtl .flipped {
    @apply transform scale-x-[-1];
  }
  .atlwh_Full {
    @apply absolute w-full h-full top-0 lrf1;
  }
  .atwh_Full {
    @apply absolute w-full h-full top-0;
  }
  .mt48 {
    @apply lg:mt-[1.45833333333vw] sm:mt-[14px] mt-[12px];
  }
  .f400 {
    @apply font-[400];
  }
  .f300 {
    @apply font-[300];
  }
  .f500 {
    @apply font-[500];
  }
  .f600 {
    @apply font-[600];
  }
  .f700 {
    @apply font-[700];
  }
  .f900 {
    @apply font-[900];
  }
  .border20 {
    @apply lg:rounded-[1.38888888889vw] rounded-[15px];
  }
  .border40 {
    @apply lg:rounded-[2.08333333333vw] rounded-[40px];
  }
  .border10 {
    @apply lg:rounded-[0.69444444444vw] rounded-[10px];
  }
  .border100 {
    @apply lg:rounded-[5.20833333333vw] rounded-[100px];
  }
  .border15 {
    @apply lg:rounded-[1.04166666667vw] rounded-[10px];
  }
  .border7 {
    @apply lg:rounded-[0.48611111111vw] rounded-[7px];
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hideScroll::-webkit-scrollbar {
  display: none;
}
.opacity_Hover {
  transition: all 0.3s;
}

.opacity_Hover:hover {
  opacity: 0.7;
}

.hero-overlay1 {
  background: linear-gradient(270deg, #2b3986 0%, #f62d17 100%);
  /* mix-blend-mode: saturation; */
}
.heroFirstOverlay {
  background: linear-gradient(270deg, #2b3986 0%, #f62d17 100%);
}
.heroSecondOverlay {
  background: var(
    --G,
    linear-gradient(270deg, #2b3986 -40.36%, #f62d17 177.37%)
  );
  mix-blend-mode: saturation;
}
.hero-overlay2 {
  background: var(
    --G,
    linear-gradient(270deg, #2b3986 -40.36%, #f62d17 177.37%)
  );
  mix-blend-mode: overlay;
}
.card-overlay {
  background: var(
    --G,
    linear-gradient(270deg, #2b3986 -40.36%, #f62d17 177.37%)
  );
  mix-blend-mode: color;
}
.hero-overlay3 {
  opacity: 0.7;
  background: linear-gradient(180deg, #000 -22.18%, rgba(0, 0, 0, 0) 100%);
}
.hero-overlay4 {
  background: linear-gradient(
    180deg,
    #191c1f 0%,
    rgba(25, 28, 31, 0.95) 18.23%,
    rgba(25, 28, 31, 0.61) 66.67%,
    rgba(25, 28, 31, 0) 100%
  );
}
.activities-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
.funSection {
  background-image: var(--fun-background-img);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SCROLL PROGREESS CSS      */

.circle-container {
  box-shadow: inset 0 0 0 2px #aaaaaa;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.circle-container {
  @apply cursor-pointer md:w-[3.07291666667vw]
     bottom-[50px] w-[35px]
    fixed bg-transparent
    block rounded-[50%];
}
.circle-container div {
  @apply absolute top-[50%] left-[50%] transform 
    translate-x-[-50%] translate-y-[-50%];
}
.circle-container div img {
  @apply md:w-[1.25vw];
}

.circle-container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  animation: top 0.7s infinite ease-in-out alternate-reverse;
}
.cardAniamte {
  animation: top 1.4s infinite ease-in-out alternate-reverse;
}

.ltr .circle-container {
  @apply md:right-[2.08333333333vw]
    right-[25px];
}
.rtl .circle-container {
  @apply md:left-[2.08333333333vw]
     left-[25px];
}

@keyframes top {
  100% {
    transform: translateY(-10px);
  }
}

.circle-container svg path {
  fill: none;
}
.circle-container svg.circle-progress path {
  stroke: #f62d17;
  mix-blend-mode: overlay;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* SCROLL PROGREESS CSS  END    */

/* MEDIA QUERIES  */

@media (min-width: 1024px) {
}

#fixedHeader {
  box-shadow: 0 14px 86px 0 rgba(0, 0, 0, 0.05);
}

@media (max-width: 1024px) {
  /* HAMBURGER  */
  .menu {
    position: relative;
  }
  .menu span {
    @apply absolute bg-[#fff]  h-[0.5vw] w-full  left-0 transition-all duration-300;
  }
  #fixedHeader .menu span {
    @apply bg-black;
  }
  .menu.active {
    top: 1px;
  }
  .menu.active span:nth-child(2) {
    opacity: 0;
  }
  .menu.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
  .menu.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  .sideBar.active {
    opacity: 1;
    pointer-events: initial;
  }
  .sideBar {
    -webkit-backdrop-filter: blur(30px) brightness(0.7);
    backdrop-filter: blur(30px) brightness(0.7);
    opacity: 0;
    pointer-events: none;
  }
  .sideBar {
    transition: all 0.5s;
  }
  body.active {
    height: 100vh;
    overflow: hidden;
  }

  /* HAMBURGER  */
}
body.active {
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 640px) {
}
@media (max-width: 640px) {
}

/* MEDIA QUERIES  */
